header {
    background: no-repeat url(images/cover.jpg);
    background-size: 100%;
    height: 400px;
}
header .logo img {
    width: 200px; 
    height: 200px;
    margin-top:310px;
    margin-left: 43%;
}
main {
    margin: 300px 100px 100px 100px; 
}
main p {
    text-align: center;
}

.main-menu ul {
    width: 700px;
    margin-left:auto;
    margin-right:auto;
}
.main-menu ul li {
    list-style-type: none;
    display: inline-block; 
    padding-left: 55px; 
    padding-right: 55px;
    border-left: 1px solid rgba(202, 204, 202, 0.6); 
    line-height: 100px; 
    text-transform: uppercase; 
    font-size: 16px; 
    
}
.main-menu ul li:first-child {
    border:none;
}
.main-menu ul li a {
    text-decoration: none;
    color: #888; 
}
.main-menu ul li a:hover {
    color: black; 
}
.main-menu ul li.active {
    background: grey;
    border: none; 
}
.main-menu ul li.active a {
    color: #fff; 
}
#home main h1 ,
#gallery main h1{
    margin: 4em 0 1em 0;
    margin-left:40%;
}
#gallery main #pet-type {
    background-color:lightgrey;
    padding: 4em 0; 
}

#gallery main #dog-cat{
    text-align: center ;
}
#dog-cat{
    margin-top: 2em;
}

#dog-cat li {
    list-style: none;
    display: inline-block;
}

#dog-cat img{
    position: relative; 
    width: 300px;
    height: 200px;
    border-radius: 5%;
    margin-right:40px;
    margin-top: 2em;
    border: 1px solid black;
}

.description{
    position: absolute;
    text-align: center; 
    visibility: hidden; 
    width:200px;
    height: 40px;
    background-color:white; 
    top: 40%;
    left: 15%;

}
#dog-cat li{
    position:relative; 
}
#dog-cat li:hover .description{
    text-align: center; 
    visibility: visible;
    opacity:0.8; 
    cursor: pointer;
}
#infoBox{
    position: absolute;
    z-index: 1;
    visibility: hidden;
    background-color: black;
    color:white; 
    width: 350px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    top: 50%;
    left: 43%;
    margin-top: 600px;
    margin-left: -50px;

}
#infoBox:hover{
    box-shadow: 0 0 11px rgba(255,255,255, 1);
}

#headingInfo{
    text-align: left;
    font-size: 1.5rem;
}
#textInfo{
    padding: 30px 0; 
    text-align: left;
    margin-bottom: 20px;
}

#closeTab{
    color: #FFD700;
    cursor: pointer;
}
#pet-type .click-here {
    background-color: #808080;
    text-transform: uppercase;
    width: 50px;
    height: 50px;
    padding: 10px; 
    border-radius: 5%; 
    text-decoration: none;
    color:white;
    font-size: 12px;
    margin-left: 47%;
}
.click-here:hover{
    opacity: .80;
}

footer {
    background-color: black;
    color:white; 
    text-align: center; 
    padding:1em; 
}

/*TYPES*/
#types main h2 {
    text-align: center;
}

table {
    border: 1px solid black; 
    margin-left:auto;
    margin-right: auto;
}

caption {
    background: #808080;
    height: 40px; 
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 1em; 
}
tbody {
    text-align: center; 
}
th, td {
    width: 400px; 
    height: 75px;
    vertical-align: middle;
    border: solid 1px #000000; 
}
tbody tr:nth-child(odd) {
    background: lightgrey; 
}

/* CONTACT */
#contact main h1 {
    text-align: center;
    
}
#contact h3 {
    text-align: center;
}

/* form */
.center {
    width:600px; 
    margin-left:auto;
    margin-right:auto;
}
fieldset {
    width: 450px;   
    padding: 1em 0 2em 2.5em;
    margin-left:60px;

}
legend {
    font-weight: 600;
    text-transform: uppercase;
}
label {
    display: block;
}

input {
    width:400px;
    height: 20px;
    margin-bottom: 1em;
}
.radios input {
    width:10px; 
    height:10px;
}
select {
    width: 100px;
    text-align-last: center;
}
#email, #phoneNumber {
    display: block;
}
textarea {
    width: 400px;
    height: 200px;
    resize: both; 
}
.button{
    margin-left:100px;
}
.button input[type="reset"] {
    width:100px;

}

.button input[type="submit"] {
    width:100px;    
    background-color: grey;

}
.button input[type="submit"]:hover {
    opacity: 0.80;

}



/* FOOTER */
footer .social .fa {
    padding:15px;
    font-size: 15px; 
    width: 15px;
    text-align:center; 
    text-decoration: none;
    margin: 10px 4px; 
    border-radius: 50%;
    
}
footer .social .fa:hover {
    opacity: 0.7;
}
footer .social .fa-facebook {
    background: #3B5998;
    color: white;
}
footer .social .fa-instagram {
    background:#cd486b; 
    color: white; 
}
footer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}
